.container{
    width:30vw;
    height:25vh;
    background-color:pink;
    padding-left:4%;
  }
  .form{
    display:flex;
   padding-top:20px;
  }
  
  .form .age>input{
    margin-left:50%;
  }
  .container>button{
    width:70px;
    height:30px;
    margin-top:20px;
    margin-left:80px;
}