*{
    margin : 0;
    padding:0;
}
.container{
    width:100%;
    height:800px;
    background-color: #fff;
    
}
.navbar{
    width:100%;
    height:65px;
    background-color: #242526;
    position: fixed;
    top:0;
    left:0;
    display: flex;
    
}
.nav-left{
    width:30%;
    height:65px;
    background-color: none;
    font-size:35px;
    color:#0f92f3;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding:0 15px;
}
.nav-left >i {
    padding:10px;
}
.nav-left .timkiem{
    width:250px;
    height:40px;
    border-radius: 30px;
    border : 3px solid #3a3b3c;
    background-color: #3a3b3c;
    font-size:15px;
    
}

.nav-center{
    width:40%;
    height:65px;
    background-color: none;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size:25px;
}
.nav-center .small-icon{
    padding:5px;
}
.small-icon{
    width:20%;
    height:65%;
    background-color:none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:25px;
    color:#8d8f93;
    border-radius: 10px;
    cursor:pointer;
    
}

.small-icon:hover {
    background-color: #3a3b3c;
}
.tooltip{
    width:90px;
    height:40px;
    background-color: #c7c8c8;
    position: absolute;
    top:68px;
    font-size:16px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    color:black;
    visibility: hidden;
    transition-delay: 0.3s;
}
.small-icon:hover .tooltip{
    visibility: visible;
}


.nav-right{
    width:30%;
    height:65px;
    background-color: #242526;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-right > div { 
    margin:5px;
}
.icon-ava{
    width:22%;
    height:65%;
    background-color: #253851    ;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
    color:#2b77dc;
    border-radius: 20px;
    cursor: pointer;
}
.icon-avar:hover{
    background-color: #253851;
}

.icon-ava >img{
    width:32px;
    height:32px;
    object-fit: contain;
    padding:5px;
    border-radius: 50%;

}
.icon-ava:hover{
    background-color: #3b4c63;
}
.icon-funtion{
    width:42px;
    height:42px;
    background-color: #3a3b3c;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size:20px;
    color:#fff;
    position: relative;
    cursor:pointer;
    
}

.icon-funtion:hover{
    background-color: #4e4e4f;
}
.funtion-tooltip{
    width:80px;
    height:40px;
    background-color: #cacaca;
    position: absolute;
    top:50px;
    left:-10px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    font-size:15px;
    font-family: 'Hind Siliguri', sans-serif;
    visibility: hidden;
    transition-delay: 0.3s;
}

.icon-funtion:hover .funtion-tooltip{
    visibility: visible;
}
.facebook{
    width:100%;
    height:600px;
    background-color: #242526;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.content-facebook{
    width:65%;
    height:400px;
    background-color: #18191a;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
   
}
.content-facebook .ava-facebook{
    width:150px;
    height:150px;
    border-radius: 50%;
    border:3px solid #212224;
    position: relative;
    top:15px;
    left:70px;
    
}
.ava-facebook:hover {   
    opacity: 0.7;
}
#camera{
    width:32px;
    height:32px;
    display:flex;
    justify-content: center;
    align-items: center;
    background:#fff;
    border-radius: 50%;
    position:relative;
    top:5px;
    left:30px;
    opacity: 0.5;  
}
#camera:hover {
    opacity:0.7;
}
.facebook .box{
    width:140px;
    height:40px;
    background-color: #2a2a2b;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Hind', sans-serif;
    font-size:14px;
    color:#fff;
    position: relative;
    top:-10px;
    left:280px;
    cursor: pointer;
}
.box > i {
    padding:5px;
}
.box:hover{
    background-color:#404141;
}
.info{
    width:60%;
    height:130px;
    background-color: none;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:18px;
    color:#83848a;
}
.name-info{
    font-family: 'Roboto', sans-serif;
    font-size:30px;
    color:#fff;
    padding-bottom: 10px;
    
}
.edit-info{
    color:#2a7aec;
}
.control{
    width:60%;
    height:70px;
    background-color: none;
    display:flex;

}
.control-left{
    width:50%;
    height:70px;
    background-color: none;
    font-family: 'Roboto', sans-serif;
    color:#aaadb2;
    font-size:18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.small{
    width:22%;
    height:55px;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:16px;
    color:#2a7aec;
    border-bottom:2px solid #2a7aec;
    
}
.small-spe{
    width:22%;
    height:55px;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size:16px;
}
.small-spe >p{
    padding:3px;
    font-size:15px;
    opacity: 0.5;
}
.small-spe:hover{
    background-color: #3a3b3c;
}
.small-spe>i{
    padding:5px;
}

.control-right{
    width:50%;
    height:70px;
    background-color: none;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    font-size:16px;
    padding-left:5px;
    font-size:17px;
    color:#fff;
    cursor:pointer;
    
}

.add-control{
    width:130px;
    height:30px;
    background-color: #2d88ff;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-control:hover{
    opacity: 0.8;
}
.add-control >i{
    width:17px;
    height:17px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:#2d88ff;
}
.edit-control {
    width:220px;
    height:30px;
    background-color: #3a3b3c;
    border-radius: 7px;
    padding-right:5px; display: flex;
    justify-content: center;
    align-items: center;
    margin-left:5px;
}
.edit-control > i{
    padding:5px;
}
.edit-control:hover{
    opacity: 0.8;
}
.more{
    width:50px;
    height:30px;
    background-color: #3a3b3c;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    margin-left:5px;
    
}
.more-control:hover{
    opacity: 0.8;
}
.mess{
    width:60px;
    height:220px;
    background-color:none;
    position:fixed;
    top:360px;
    left:1460px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}
.mess .icon-mess{
    margin-bottom: 8px;
}
.icon-mess >img {
    width:50px;
    height:50px;
    object-fit: contain;
    border-radius: 50%;
    position:relative;
}
.mess>img:before{
    width:15px;
    height:15px;
    background-color:aqua;
    content: "";
    position:absolute;
}
.mess > i {
     height:50px;
     width:50px;
     background-color:#fff;
     border-radius: 50%;
     display:flex;
     justify-content: center;
     align-items: center;
     font-size:20px;
}
.mess>img:hover{
    opacity: 0.7;
}
.icon-mess{
    width:50px;
    height:50px;
    background-color:none;
    position: relative;
}
.shadow-icon{
    width:130px;
    height:50px;
    background-color:#3a3b3c;
    position: absolute;
    top:0%;
    left:-300%;
    border-radius: 5px;
    color:#e2e4e9;
    font-size:18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    visibility: hidden;
    
}
.icon-mess:hover .shadow-icon{
    visibility: visible;
}
.shadow-icon>p{
    padding-left:7px;
}
.shadow-icon::before{
    width:15px;
    height:15px;
    background-color:#3a3b3c;
    content:"";
    position:absolute;
    top:30%;
    left:92%;
    transform: rotate(45deg);
    display:flex;
    justify-content: center;
    align-items: center;
}
.text-mess{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:8px;
}
.text-mess .note{
    width:10px;
    height:10px;
    background-color:#2e89ff;
    border-radius: 50%;
}
.text-mess .text{
    color:#9c9fa3;
    font-size: 14px;
    padding:5px;
}
.icon-mess-special{
    width:50px;
    height:50px;
    background-color:none;
    position: relative;
}
.icon-mess-special>i{
    width:50px;
    height:50px;
    background-color:#4b4c4f;
    color:#fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:18px;
}
.shadow-edit{
    width:100px;
    height:35px;
    background-color:rgba(212, 201, 201, 0.829);
    position: relative;
    top:-85%;
    left:-200%;
    border-radius: 5px;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
.icon-mess-special:hover .shadow-edit{
    visibility: visible;
}