* {
   padding:0;
   margin:0;
    font-family: 'Open Sans', sans-serif;
    
}
body{
    padding:0;
    margin:0;
    background-color: red;
}

.container{
    text-align: center;
    padding:2em 2em;
    margin:0 0;
    width:100%;
    background-color: #2F4F4F;
}
.container h1{
    color:#fff;
}
.homework{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.work{
    padding:1em 1em;
    width:90%;
    display: flex;
    align-items: flex-start;
}
.BT{
    width:70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;

}


/* 2 */

.BT .answer2{

    margin-top:0.8em;
    
}
.button-work{
 
    width:10em;
    display: flex;
    justify-content: flex-start;

   
}
.input6{
    border:none;
    padding:0.3em 0.3em;
    border-radius: 5px;
    width:5em;
    margin:0.5em 0.5em;
}

.check{
    background-color: red;
    color:black;
}
.work1{
    background-color: #DCDCDC;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.work2 {
    background-color:#FFFAF0;
    
}
.work3{
    background-color: #DCDCDC;
}