.container{
    width:100%;
    height:800px;
    background: #170f23;
}
.content{
    width:100%;
    height:80px;
    background-color: none;
    color:#fff;
    font-size: 20px;
    box-sizing: none;
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.content > p{
    position: relative;
    left:30px;   
}
.song{
    width:100%;
    height:250px;
    background-color: none;
    box-sizing: none;
    display:flex;
    
}
.song1{
    width:25%;
    height:100%;
    background-color: none;  
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
   
}
.song1 .anh {
    width:200px;
    height:200px;
    background-color:none;
    overflow:hidden;
    border-radius: 20px;
   
    
}
.anh .bg { 
    width:200px;
    height:200px; 
    object-fit: contain;
    border-radius: 20px;
    transition-duration: 0.7s;
    transition-timing-function: ease-in;
    opacity: 1;
    
    
    
}
.shadow{
    width:100%;
    height:100%;
    position:relative;
    top:-102%;
    background-color: black;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.anh:hover .shadow{
    opacity: 0.5;
}
.shadow .icon{
    width:80%;
    height:30%;
    
    color:#fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}
.icon #play{
    font-size:30px;
}
.anh:hover .bg{
    transform:scale(1.2);
}
.text{
    width:60%;
    height:20%;
    background-color:none;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
    color:#fff;
}
.newsong {
    width:100%;
    height:220px;
    background-color: none;
}
.newsong .newsong1{
    width:30%;
    height:100%;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.newsong1 .box{
    width:90%;
    height:90%;
    background-color: #2f2739;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding:20px;
    border-radius: 10px;
    
}
.box .pic{
    width:120px;
    height:120px;
    background-color: none;
    box-sizing: border-box;
    border-radius: 20px;
    overflow: hidden;
    
    
}
.box .pic img{
    width: 100%;
    height:100%;
    object-fit: contain;
    border-radius: 20px;
    opacity: 1;
    transition-duration: 0.7s;
    transition-timing-function: ease-in;
    
}
.pic .shadow2{
    width:100%;
    height:100%;
    background-color: black;
    position: relative;
    top:-103%;
    border-radius: 20px;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    font-size: larger;
}
.pic:hover .shadow2{
    opacity: 0.5;
}
.pic:hover img{
    transform:scale(1.2);
}
.box .intro{
    width:65%;
    height: 80%;
    background-color: none;
    box-sizing: border-box;
}
.intro .namesong{
    width:100%;
    height:30%;
    background-color: none;
    font-family: 'Lato', sans-serif;
    color:#fff;
   font-size:18px;
   display: flex;
   justify-content: flex-start;
   align-items: flex-end;
   padding-left:10px;
   padding-bottom: 5px;
}
.intro .single{
    width:100%;
    height:20%;
    background-color: none;
    color:#77727e;
    font-size: 15px;
    padding-left: 10px;
    font-family: 'Shippori Mincho B1', serif;
    
}
.intro .rank{
    width:100%;
    height:30%;
    background-color: none;
    position: relative;
    top:-10px;
    box-sizing: content-box;
    display: flex;
    position: relative;
    top:5px;
}
.rank .number{
    width:80px;
    height:100%;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    color:#77727e;
}
.rank .day{
    width:160px;
    height:100%;
    background-color: none;
    color : #77727e;
    font-size:15px;
    display:flex;
    align-items: flex-end;
    justify-content: flex-end;
}