<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bai3</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- test -->
</head>
<body>
    <div class="container-fluid web-inner" id="app">
        <!-- Phan navbar -->
          <nav class="navbar">
            <div class="container-fluid navbar-inner">
              <button class="navbar-toggler" v-bind:class="{navActive: isList}" type="button" v-on:click="turnList">
                <i class="fas fa-list"></i>
              </button>
              <button class="navbar-toggler"  v-bind:class="{navActive: isGrid}"  type="button" v-on:click="turnGrid">
                <i class="fas fa-th"></i>
              </button>
            </div>
          </nav>
          <!-- inner -->
         <div class="container-fluid content" >
             <!-- Phan list Layout -->
             <div class="container listLayout" v-for="item in articles"  v-bind:class="{show: isList}">
                <div class="row content-small">
                    <a class="col-12 col-sm-6 col-md-4 col-lg-3 hinhanh">
                       <img :src="item.src" alt="">
                    </a>
                    <div class="col-12 col-sm-6 col-md-8 col-lg-9 title">
                       <a :href="item.url">{{item.title}}</a>
                    </div>
                </div>
                <hr>
             </div>
             <!-- Phan gridlayout -->
             <div class="container gridLayout" v-bind:class="{show: isGrid}"> 
                 <div class="row d-flex justify-content-center">
                    <div class="col-12 col-sm-12 col-md-5 col-lg-5 grid-small" v-for="item in articles">
                        <a :href="item.url" class="hinhanh">
                            <img :src="item.src" alt="">
                        </a>
                    </div>
                 </div>
             </div>
         </div>
    </div>
    <script src="main.js"></script>
</body>
</html>