@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding:0;
    margin:0;
    font-family: 'Rubik', sans-serif;
}
.web-inner{
    padding-left:0px !important;
    padding-right:0px !important;
   
}
.navbar{
    background-color: #5796b1;
    padding:20px  30px;
}
.navbar-inner{
    justify-content: flex-end !important;
}
.navbar-inner button{
    margin-left:10px;
    padding:8px 12px;
    background-color: #4987a1;
    color:#fff !important;
}
.navbar-inner button:focus{
    box-shadow: none !important;
}
.navActive{
    background-color: #b7428c !important ;
}
/* Phan content */
.content{
    padding-top:50px;
}
.listLayout{
    display: none;
}
.hinhanh{
    overflow: hidden;
}
.hinhanh img{
    width:100%;
    height:250px;
    object-fit: fill;
}
.title{
    padding-left:20px;
    color:#808b8f ;
}
.title a{
    color:#808b8f !important;
    text-decoration: none;
    font-size:25px;
}
.content-small{
    padding:0px 10px;
}
.disAppear{
    display: none;
}

/* Phan grid lay out */
.gridLayout{
    display: none;
}
.gridLayout .hinhanh{
    background-color: red;
}
.gridLayout .hinhanh img{
    width:100%;
    height:400px;
    object-fit: fill;
}
.grid-small{
    padding:3px;
}
.show{
    display: block;
}