@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding:0;
    margin:0;

}
:root{
    --main-color:#5597b4;
    --active-color:#e35885;

}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding-top:5em;
    color:#fff !important;
    background-color: pink !important;
  }
  
  .topnav {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .topnav a {
    float: left;
    color:#fff;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 17px;
   background-color: #5597b4;
}
.active{
  background-color: #e35885;
}
a:hover{
    color:#fff !important;
}
  .topnav a.active {
    background-color: var(--active-color);

  }
  .message{
      margin-top:2em;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .message h1{
      color: #84979e;
      font-size: 25px;
      margin-right:20px;
  }
  .message a{
    text-align: center;
   padding:10px;
    text-decoration: none;
    font-size: 17px;
    background-color: #c4d7e0;
    border-radius: 2px;
    color:#fff;
  }
  .message a:hover{
      color:#fff !important;
  }
 