*{
    margin:0;
    padding:0;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.part1{
    width:100%;
    height:20vh;
    background-color:red;
    display: flex;

}

.a{
    height:100%;
    width:25%;
    background-color:orange;
}
.b{
    height:100%;
    width:50%;
    background-color:aqua;
}
.c{
    height:100%;
    width:25%;
    background-color:palegreen;
}
.part2{
    height:40vh;
    width:100%;
    background-color:red;
}