.container{
display:flex;
flex-wrap:wrap;
box-sizing: content-box;
text-align: center;
}

.box{
    width: 43%;
   margin:50px;
    /* dạng trình bày :  */
    display:flex;
    /* hướng trình bày */
    /* định dạng content */
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    flex-wrap: wrap;
   
}
.btn{
    margin-top:20px;
    background-color: #fff;
    border:none;
    padding:10px;
    border-bottom:1px solid black;
}
img{
    margin:0px;
    padding: 0px;
    object-fit:contain;
}
.day{
    margin:5px;
    opacity:0.5;

}
.pic>img{
    width:500px;
    height:500px;
    object-fit: cover;


}
.content{
    font-family: 'Montserrat', sans-serif;
    font-size:50px;
    margin : 10px;
}
.icon{
    margin:50px;
    display:flex;
    justify-content:center;
    align-items: center;
}
.icon > p{
    margin:0px 9px ;
    font-family: 'Karla', sans-serif;

}
.text{
    font-family: 'Cormorant Garamond', serif;
    font-style:italic;
    font-size:20px;
}
.day{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
}
