:root{
    --a-color:#3d4451;
    --title-font:'Poppins', sans-serif;
    --xanhla-color:#06b66c;
   --text-color:#7d818a;
   --bg-color:#efefef;
}
*{
    margin:0;
    padding:0;
}
.container{
    height:100vh;
}
.part1{
    width:100%;
    height:95vh;
    background-color: #efefef;
    margin:0px;
    padding:0px;
    position:relative;
    background-image:url("https://images.unsplash.com/photo-1571167483115-d9bcae97b036?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    background-size: cover; 
    background-size:100% 80%;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    position:relative;


}


.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height:10%;
    z-index: 1;
    background-color:#fff;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}
.name{
    width:40%;
    height:100%;
    background-color:none;
    display :flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Changa One', cursive;
    
}

.name >h1{
    margin-left: 15px;
    font-size:35px;
    color:#9a9da2;
    cursor:pointer;
}
#name1{
    color:#07cb79;
}
.intro{
    width:55%;
    height:100%;
    background-color: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color:#696e80  ;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-right:0;
  
    
}
.info-intro{
    width:auto;
    height:50px;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    cursor:pointer;
    
}
.intro > p{
    width:auto;
    height:40px;
    background-color: none;
    cursor:pointer;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:14px;
    box-sizing: margin-box;
    transition : width 2s;
    font-family: 'Rubik', sans-serif;
}
.intro>p:hover {
    border-bottom: 3px solid #07cb79;
}
.intro>i{
    width:50px;
    height:50px;    
    display: flex;
    justify-content: center;
    align-items: center;
}
.setting{
    width:60px;
    height:60px;
    background-color:#fff;
    border-radius:0px 4px 4px 0px;
    color:black;
    display: flex;
    font-size:25px;
    justify-content: center;
    align-items: center;
    position:fixed;
    top:100px;
    left:0;
}
.box{
    width:900px;
    height:500px;
    background-color: #fff;
    display:flex;
    align-items: center;
    border-radius: 2px;
    flex-wrap: wrap;
    
    
    
}
.box .box-first {
    margin-left:40px;
    margin-right:27px;
    margin-top:30px;
    
    
}
.box-first{
    width:100%;
    height:390px;
    background-color: none;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.box-first .anh{
    width:30%;
    height:85%;
    background-color: red;
    display: flex;
    margin:0px;
    justify-content: center;
    align-items: center;
}
.anh img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.info{
    width:60%;
    height:85%;
    background-color: none;
    box-sizing: border-box;
    margin-left:30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.info-before{
    width:100%;
    height:40%;
    background-color: none;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
  

    
}
.hello{
    width:70px;
    height:30px;
    background-color: #07cb79;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    color:#fff;
    font-size: 18px;
    border : 2px solid #07cb79;
}

.hello::before{
    width:10px;
    height:10px;
    content:" ";
    background-color: #07cb79;
    position: absolute;
    top:80%;
    left:20%;
    transform: rotate(60deg);
}
.name-job{
    width:350px;
    height:90px;
    background-color: none;
    color:#646a74;
}
.name2{
    width:100%;
    height:60px;
    background-color: none;
    font-family: 'Rajdhani', sans-serif;
    font-size:40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
#robert{
    padding-left:10px;
    font-family: 'Hind', sans-serif;
    font-size:50px;
   
}
.job{
    width:100%;
    height:30px;
    background-color: none;
    font-size:20px;
    color:#646a74;
}
.info-after{
    width:85%;
    height:60%;
    background-color: none;
    padding-top:10px;
   
}

.infor1{
    width:100%;
    height:17%;
    background-color: none;
    display:flex;
    
    
}
.infor1-a{
    width:30%;
    height:100%;
    background-color: none;
    font-family: 'Rubik', sans-serif;
    font-size:15px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.infor1-b{
    width:70%;
    height:100%;
    background-color: none;
    color:#bdbec3;
    display:flex;
    align-items: center;
    font-size:17px;
}
.on-vacation{
    width:110px;
    height:30px;
    background-color: #07cb79;
    border-radius: 3px;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box .box-last{
    width:100%;
    height:15%;
    background-color: #07cb79;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}
.box-last .icon{
    width: 50%;
    height:100%;
    background-color: none;
    display:flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon .icon1{
    width: 40px;
    height:40px;
    background-color: #07cb79;
    display: flex;
    color:#fff;
    font-size: 20px;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 18px;

}
.icon1:hover{
    background-color: #06b66c;
}
.background{
    width:100%;
    height:500px;
    background-color: none;
}
.introduce{
    width:100%;
    height:300px;
    background-color: yellow;
}
.part2{
    width:100%;
    height:35vh;
    background-color:#efefef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.part2>button{
    width:180px;
    height:60px;
    background-color:#efefef;
    font-family: 'Signika', sans-serif;
    font-size:16px;
    color:#494f5c;
    border:1px solid rgb(209, 204, 204);
    margin-top:2em;
}
.part2>p{
    width:50vw;
    font-family: 'Khula', sans-serif;
    text-align: center;
    font-size: 20px;
    padding-top: 30px;
    color:rgb(95, 88, 88);
    font-weight:400;
    font-size:18px;
}
.part3{
    width:100%;
    height:48vh;
    background-color: #efefef;
    font-family: 'Poppins', sans-serif;
        color:var(--a-color);
    font-size:35px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.box2{
    width:60%;
    height:70%;
    background-color: #fff;
    border:2px solid #fff;
    box-shadow:1px 1px 7px rgb(129, 126, 126);
    display: flex;
    flex-wrap: wrap;
    padding:0px;
}
.box2-left{
    width:50%;
    height:100%;
    margin:0;
    padding:0;
    background-color: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.skill-small{
    margin-top:0%;
    margin-left:2%;
    margin-bottom: 4%;
    width:80%;
    height:17%;
    background-color:none;
    box-sizing:border-box;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    
    
}
.skill{
    width:100%;
    height:50%;
    font-size: 15px;
    background-color: none;
    display:flex;
    justify-content: space-between;

}
#skill1{
    width:100%;
    height:12%;
    background-color: #06b66c;
    border-radius: 5px;
    position: relative;
}
#skill1::before{
    width:50%;
    height:100%;
    content:" ";
    background-color: #cdf5e4;
    position:absolute;
    left:50%;
    border-top-right-radius :5px;
    border-bottom-right-radius: 5px;
}
#skill2{
    width:100%;
    height:12%;
    background-color: #06b66c;
    border-radius: 5px;
    position: relative;
}
#skill2::before{
    width:20%;
    height:100%;
    content:" ";
    background-color: #cdf5e4;
    position:absolute;
    left:80%;
    border-top-right-radius :5px;
    border-bottom-right-radius: 5px;
}
#skill3{
    width:100%;
    height:12%;
    background-color: #06b66c;
    border-radius: 5px;
    position: relative;
}
#skill3::before{
    width:40%;
    height:100%;
    content:" ";
    background-color: #cdf5e4;
    position:absolute;
    left:60%;
    border-top-right-radius :5px;
    border-bottom-right-radius: 5px;
}
#skill4{
    width:100%;
    height:12%;
    background-color: #06b66c;
    border-radius: 5px;
    position: relative;
}
#skill4::before{
    width:30%;
    height:100%;
    content:" ";
    background-color: #cdf5e4;
    position:absolute;
    left:70%;
    border-top-right-radius :5px;
    border-bottom-right-radius: 5px;
}
#skill5{
    width:100%;
    height:12%;
    background-color: #06b66c;
    border-radius: 5px;
    position: relative;
}
#skill5::before{
    width:30%;
    height:100%;
    content:" ";
    background-color: #cdf5e4;
    position:absolute;
    left:70%;
    border-top-right-radius :5px;
    border-bottom-right-radius: 5px;
}
#skill6{
    width:100%;
    height:12%;
    background-color: #06b66c;
    border-radius: 5px;
    position: relative;
}
#skill6::before{
    width:20%;
    height:100%;
    content:" ";
    background-color: #cdf5e4;
    position:absolute;
    left:80%;
    border-top-right-radius :5px;
    border-bottom-right-radius: 5px;
}
.part4{
    width:100%;
    height:95vh;
    background-color:var(--bg-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
    
  
}
.port{
    width:25%;
    height:15%;
    background-color:none;
    margin:auto;
    color:var(--a-color);
    font-family: var(--title-font);
    font-size:35px;

}
.port-small{
    margin-top:0%;
    margin-left:8%;
    width:80%;
    height:35%;
    background-color:none;
    box-sizing:border-box;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    
    
}
.port1{
    width:100%;
    height:50%;
    font-size: 15px;
    background-color: none;
    display:flex;
    justify-content: space-between;

}
#port7{
    width:100%;
    height:12%;
    background-color: #06b66c;
    border-radius: 5px;
    position: relative;
}
#port7::before{
    width:80%;
    height:100%;
    content:" ";
    background-color: #cdf5e4;
    position:absolute;
    left:20%;
    border-top-right-radius :5px;
    border-bottom-right-radius: 5px;
}
.port-img{
    width:60%;
    height:75vh;
    background-color:none;
   display: flex;
   justify-content: space-between;
   

}

.port-left{
    width:58%;
    height:100%;
    background-color:black;
    overflow:hidden;
   
}
.port-left>img{
    width:100%;
    height:100%;
    object-fit: cover;
    transition-duration:1s;
    transition-timing-function: ease;
}
.port-left:hover img{
    transform:scale(1.1);
    opacity: 0.5;
}
.shadow-port-left{
    width:100%;
    height:100%;
    background-color:none(85, 83, 83);
    position: relative;
    opacity:1;
    top:-100.7%;
    position: relative;
    display: flex;
    align-items: flex-end;
    font-family: var(--title-font);
    visibility: visible;
}
.port-left:hover .shadow-port-left{
    visibility: visible;
}
.shadow-left{
    width:100%;
    height:25%;
    background-color:none;
    
}
.shadow-port-left .pshadow-port{
    width:60%;
    height:40%;
    margin-left:15px;
    color:#fff;
    background-color:none;
    font-size:20px;
    text-align: left;
}
#photo{
    font-size:11px;
}
.iconshadow-left{
    width:60%;
    height:55%;
    background-color:none;
    margin-left:15px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    font-size:17px;
    color:var(--xanhla-color);
}
.iconshadow-left > i { 
    width:50px;
    height:50px;
    background-color:none;
    display: flex;
    justify-content: center;
    align-items: center;
    border:0.5px solid var(--xanhla-color);
    margin-right:10px;
}
.port-right{
    width:40%;
    height:100%;
    background-color: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
.port-right-top{
    width:100%;
    height:49%;
    background-color:black;
    position: relative;
    overflow:hidden;
    
}
.port-right-top > img{
    width:100%;
    height:100%;
    object-fit: cover;
    transition-duration: 1s;
    transition-timing-function: ease;
   
}
.port-right-top:hover img{
    transform:scale(1.1);
    opacity: 0.5;
}
.shadow-port-right{
    width:100%;
    height:100%;
    background-color:none;
    opacity: 1;
    position: absolute;
    top:0%;
    display:flex;
    justify-content: flex-start;
    align-items: flex-end;
    visibility: hidden;
}
.port-right-top:hover .shadow-port-right{
    visibility: visible;
}
.shadow-right{
    width:60%;
    height:50%;
    background-color:none;

}
.pshadow-right{
    margin-left:7px;
    width:100%;
    height:50%;
    background-color:none;
    font-family: var(--title-font);
    color:#fff;
    font-size:23px;
    text-align: left;
}
#brige{
    color:var(--text-color);
    font-size:14px;
}
.iconshadow-right{
    margin-left:7px;
    width:100%;
    height:50%;
    background-color:none;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.iconshadow-right > i {
    width:50px;
    height:50px;
    background-color:none;
    margin-right:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--xanhla-color);
    font-size:18px;
    border:1px solid var(--xanhla-color);
}
.part5{
    width:100%;
    height:20vh;
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:25px;
    color:var(--a-color);

}
.icon-more{
    width:55px;
    height:55px;
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition-timing-function: ease;
    border:0.05px solid var(--a-color);
    transition-duration: 0.2s;
}
.icon-more:hover{
    box-shadow: 0.1px 0.1px 20px rgb(175, 170, 170) ;
}
.part6{
    width:100%;
    height:120vh;
    background-color:var(--bg-color);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    display:flex;
    justify-content: center;
    align-items: center;

}
.work-experience{
    width:60%;
    height:100%;
   
}
.work{
    width: 100%;
    height:7%;
    background-color:none;
    font-family: var(--title-font);
    color:var(--a-color);
    font-size:35px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.experience{
    width:100%;
    height:90%;
    background-color:none;
    display:flex;
    justify-content: space-between;
    align-items: space-between;

}
.experience-left{
    width:47%;
    height:100%;
    background-color:none;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.ex{
    width:100%;
    height:31%;
    background-color:#fff;
    box-sizing: border-box;
    position:relative;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0.5px 0.5px 7px var(--a-color);
    display:flex;
    flex-direction: column;

}
#left .ex:before{
    position:absolute;
    width:10px;
    height:10px;
    background-color:var(--xanhla-color);
    content: "";
    top:27%;
    left:105.4%;
    border-radius: 50%;
    z-index:2;
}
.ex > hr{
    width:99%;
    height:5px;
    box-shadow: 0px 0px 2px var(--a-color);
    background-color:var(--xanhla-color);
    border:2px solid var(--xanhla-color);
}
.ex-top{
    width:100%;
    height:38%;
    background-color:none;
    font-family: var(--title-font);
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: relative;
    background-color:none;
    box-sizing: border-box;
}
#left .ex-top:before{
    width:20px;
    height:20px;
    background-color:#fff;
    content :  "";
    position:absolute;
    top:50%;
    left:97%;
    transform:rotate(45deg);
}

.ex-time{
   padding-top:10px;
    color:var(--xanhla-color);
    font-weight: 500;
    font-size:15px;
}
.ex-company{
    font-weight: 400;
    font-size:24px;
}
.ex-respon{
    padding-top:7px;
    font-weight: 400;
    color:rgb(105, 101, 101);
    font-size:14px;
}
.ex-bottom{
    width:100%;
    height:54%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:none;
}
.ex-bottom>p{
    width:92%;
    height:90%;
    text-align: left;
    color:var(--a-color);
    background-color:none;
    font-size:15px;
}

.experience-center{
    width:4%;
    height:100%;
    background-color:none;
    display:flex;
    justify-content: center;
    
}
.experience-center > div {
    width:4px;
    height:77%;
    background-color:#c0e8d7;
    position:relative;
    top:68px;
}


#right{
    
    position:relative;
    top:8%;
}
#right .ex-top::before{
    width:20px;
    height:20px;
    background-color:#fff;
    position:absolute;
    content:" ";
    top:50%;
    left:-2%;
    transform:rotate(45deg);
}
#right .ex:before{
    position:absolute;
    width:10px;
    height:10px;
    background-color:var(--xanhla-color);
    content: "";
    top:27%;
    left:-7.4%;
    border-radius: 50%;
    z-index:2;
}
.par6-more{
    width:100%;
    height:7vh;
    background-color:var(--bg-color);
}
.part7{
    width:100%;
    height:100vh;
    background-color:var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.education-experience{
    width:60%;
    height:90vh;
    background-color:none;
}
.education{
    width:100%;
    height:12%;
    background-color:none;
    font-family: var(--title-font);
    color:var(--a-color);
    font-size:35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.edu-rank{
    width:100%;
    height:88%;
    background-color:none;
    display:flex;
}
.edu-rank-left{
    width:47%;
    height:100%;
    background-color:none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.edu{
    width:100%;
    height:31%;
    background-color:#fff;
    font-size:var(--title-font);
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 10px var(--a-color);
    position:relative;
}
#edu-left .edu::before{
    width:20px;
    height:20px;
    background-color:#fff;
    position:absolute;
    content:"";
    left:97%;
    transform:rotate(45deg);
}
.edu > hr { 
    width:99%;
    height:2px;
    position:relative;
    top:-20px;
    background-color:var(--xanhla-color);
    border:2px solid var(--xanhla-color);
}
.edu-top{
    width:100%;
    height:30%;
    background-color:none;
    display:flex;
    justify-content: flex-start;
    align-items: center;
   
    
    
}
#edu-left .edu-top::before{
    width:10px;
    height:10px;
    background-color:var(--xanhla-color);
    position:absolute;
    content:" ";
    left:105.2%;
    top:48%;
    border-radius: 50%;
}
.edu-top>div {
    width:21%;
    height:45%;
    background-color:var(--xanhla-color);
    margin-left:20px;
    font-weight: 700;
    color:#fff;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    border-radius: 2px;
    position:relative;
}
.edu-top>div::before{
    position:absolute;
    width:7px;
    height:7px;
    content:"";
    background-color:var(--xanhla-color);
    top:80%;
    transform:rotate(60deg);

}
.edu-major{
    width:100%;
    height:25%;
    background-color:none;
    padding-left:20px;
    font-size:20px;
    font-family: var(--title-font);
    font-weight: 500;
    color:var(--a-color);
}
.edu-school{
    width:100%;
    height:20%;
    background-color:none;
    font-family: var(--title-font);
    padding-left:20px;
    font-weight: 300;
    font-size:14px;
    color:var(--a-color);
}
.edu-rank-center{
    width:6%;
    height:100%;
    background-color:none;
    display:flex;
    justify-content: center;
    align-items: center;
}
.edu-rank-center>div{
    width:4px;
    height:70%;
    border-radius: 2px;
    background-color:#c0e8d7;
}
.edu-right-center{
    width:100%;
    height:80%;
    background-color:none;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom:10px;
}
#edu-right {
    background-color:none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:flex-end;
}
#edu-right .edu::before{
    width:20px;
    height:20px;
    background-color:#fff;
    position:absolute;
    content:"";
    left:-1.5%;
    transform:rotate(45deg);
}
#edu-right .edu-top:before{
    width:10px;
    height:10px;
    background-color:var(--xanhla-color);
    position:absolute;
    content:" ";
    top:48%;
    left:-7.5%;
    border-radius: 50%;
}
#edu-right .edu{
    margin-bottom: 50px;
}
#edu-right .edu-top >div {
    width:23%;
    height:50%;
}
#edu-right .edu-top >div:before{
    width:5px;
    height:5px;
    background: var(--xanhla-color);
    top:90%;
    transform:rotate(45deg);

}
.part8{
    width:100%;
    height:20vh;
    background-color:var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.part8>img{
    width:150px;
    height: 150px;
    object-fit: contain;
    padding-left:30px;
    
}
.part9{
    width:100%;
    height:50vh;
    background-color:var(--bg-color);
    display: flex;
    flex-direction: column;
}
.references{
    width:100%;
    height:20%;
    background: none;
    font-family: var(--title-font);
    color:var(--a-color);
    font-size:35px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.part9-box{
    width:100%;
    height:80%;
    background-color:none;
    display: flex;
    justify-content: center;
    align-items: center;
 

}
.references-box{
    width:60%;
    height:85%;
    background-color:#fff;
    box-shadow: 1px 1px 5px var(--a-color);
    box-sizing: margin-box;
    display:flex;
}
.references-box-top{
    width:8%;
    height:100%;
   
    background-color:none;
    color:var(--xanhla-color);
    font-size:20px;
    display:flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.references-box-top>i{
    padding-top:30px;
}
.references-box-center{
    width:80%;
    height:100%;
    background-color:none;
    font-family: var(--title-font);

}
.references-box-center>p{
    padding: 25px 30px;
    font-size:17px;
    color:rgb(121, 119, 116);
}
.references-box-center > hr{
    width:80%;
    height:0.05px;
    background-color:rgb(161, 159, 159);
    margin-left:30px;
}
.references-img{
    width:50%;
    height:50%;
    margin-left:30px;
    background-color:none;
    display: flex;
    align-items: center;
}
.references-img img{
    width:60px;
    height:60px;
    object-fit: contain;
}
.references-text{
    width:60%;
    height:70%;
    background-color:#fff;
    margin-left:30px;
    font-size:20px;
    color:rgb(112, 101, 101);
    font-weight: 700;
}
#special-text{
    font-size:13px;
    color:rgb(141, 133, 133);
    font-weight: 400;
}
.references-box-bottom{
    width:20%;
    height:47%;
    background-color:none;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    margin-top:15px;
    padding-right:20px;
}
.references-box-bottom >i {
    width:50px;
    height:50px;
    background-color:#fff;
    display:flex;
    justify-content: center;
    align-items: center;
    border:1px solid rgb(184, 180, 180);
}
.references-box-bottom>i:hover{
    box-shadow: 1px 1px 5px var(--a-color);
}
.part10{
    width:100%;
    height:90vh;
    background-color:var(--bg-color);
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pricing{
    width:100%;
    height:17%;
    background-color: none;
    font-family: var(--title-font);
    color:var(--a-color);
    font-size:35px;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top:30px;
}
.box-10{
    width:60%;
    height:83%;
    background-color:none;
    display: flex;
}
.box-10-small{
    width:34%;
    height:100%;
    background-color:none;
    border:1px solid var(--a-color);
    box-shadow: 1px 1px 5px var(--a-color);
}
.box10-top{
    width:100%;
    height:19%;
    background-color:#373b42;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--title-font);
    font-size:18px;
}
#money{
    font-size:45px;
    padding-right:10px;
    position:relative;
    bottom:6px;
}


.box10-top::before{
    width:20px;
    height:20px;
    background-color:#373b42;
    position:absolute;
    content:"";
    top:90%;
    transform:rotate(45deg);
    left:48%;
    
}
.box10-center{
    width:100%;
    height:69%;
    background-color: #fff; 
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-size:16px;
    font-weight: 500;
    color:var(--text-color);
   
}
.box10-center>p{
    text-align: center;
    padding-top:10px;
}

#box10-center-name{
    padding-bottom:5px;
    font-size:22px;
    font-weight:700 ;
    color:#373b42;
    position: relative;
}
#new{
    position:relative;
}
#new::before{
    width:40px;
    height:18px;
    position: absolute;
    content:"NEW";
    color:#fff;
    font-size:12px;
    background-color:red;
    left:66%;
    border-radius: 4px;
}
#box10-line{
    text-decoration: line-through;
    color:rgb(192, 186, 186);
}
.box10-bottom{
    width:100%;
    height:12%;
    background-color:#fff;
    display:flex;
    justify-content: center;
    align-content: center;
}
.buynow{
  width:40%;
  height:68%;
  background-color:#fff;
  font-family: 'Open Sans', sans-serif;
  display:flex;
  justify-content: center;
  align-items: center;
  color:var(--a-color);
  
 border:0.5px solid rgb(192, 189, 189);  
}
.buynow:hover{
    box-shadow: 1px 1px 5px var(--a-color);
}
#box10-color{
    background-color:var(--xanhla-color);
}
#box10-color::before{
    background-color:var(--xanhla-color); 
}
#new-2{
    position:relative;
}
#new-2::before{
    width:40px;
    height:18px;
    position: absolute;
    content:"NEW";
    color:#fff;
    font-size:12px;
    background-color:red;
    left:74%;
    border-radius: 4px;
}
.part-11{
    width:100%;
    height:80vh;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}
.blog{
    width:100%;
    height:20%;
    background-color:none;
    color:var(--a-color);
    font-family: var(--title-font);
    font-size:35px;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;
    box-sizing: border-box;
}
.img-blog{
    width:60%;
    height:80%;
    background-color:none;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}
.img-blog-small{
    width:49%;
    height:100%;
    background-color:none;
    transition-duration: 1s;
    transition-timing-function: ease-in;

}
.img-blog-small:hover{
    box-shadow:0.1px 0.1px 10px var(--a-color);

}
.img-blog-small:hover .img-blog-anh>img{
    transform:scale(1.1);
}
.img-blog-anh{
    width:100%;
    height:60%;
    background-color:none;
    position: relative;
    overflow:hidden;
}
.img-blog-anh>img{
    width:100%;
    height:100%;
    transition-timing-function: ease;
    transition-duration: 0.4s;

    
}
.img-blog-anh::before{
    width:60px;
    height:60px;
    position: absolute;
    content:"03";
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:var(--xanhla-color);
    font-family: var(--title-font);
    top:5%;
    left:83%;
    color:#fff;
    font-size:23px;
    font-weight: 700;
}
.intro-blog{
    width:100%;
    height:40%;
    background-color: #fff;
    font-family: var(--title-font);
    font-size:12px;
    display:flex;
    color:rgb(87, 95, 87);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
#name-post{
    font-size: 30px;
    padding-top:5px;
    color:rgb(44, 49, 44);
    font-weight: 500;
    padding-top:25px;
}
.tag{
    width:100%;
    height:25%;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.tag>i{
    padding-left:30px;
}
.tag>p{
    padding-left:10px;
}
.part-12{
    width:100%;
    height:45vh;
    background-color:var(--bg-color);
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
}
.text-section{
    width:100%;
    height:30%;
    background-color:none;
    font-size: 35px;
    font-family: var(--title-font);
    color:var(--a-color);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom:5px;
}
.box-12{
    width:60%;
    height:70%;
    background-color:#fff;
    box-shadow: 0.1px 0.1px 6px rgb(177, 169, 169);
    font-family: var(--title-font);
    color:var(--a-color);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.box-12>p{
    width:85%;
    height:60%;
    background-color:none;
    font-size: 17px;
}


.part-13{
    width:100%;
    height:60vh;
    background-color:var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.interest{
    width:100%;
    height:24%;
    background-color :none;
    color:var(--a-color);
    font-family: var(--title-font);
    font-size:35px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom:15px;
}
.box-13{
    width:60%;
    height:61%;
    background-color:#fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--title-font);
    color:var(--a-color);
    font-size:16px;
    box-sizing: border-box;
    box-shadow:0px 0px 3px rgb(146, 141, 141);
}
.text-13{
    width:90%;
    height:50%;
    background-color:none;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top:15px;
    
}
.icon-13{
    width:65%;
    height:50%;
    background-color:none;
    font-size:24px;
    color:var(--xanhla-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icon-13>i{
    width:67px;
    height:67px;
    background-color:#fff;
    display:flex;
    justify-content: center;
    align-items: center;
    border:0.2px solid rgb(116, 112, 112);
    
}
.part-14{
    width:100%;
    height:90vh;
    background-color:var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.calender{
    width:100%;
    height:16%;
    background-color:none;
    color:var(--a-color);
    font-family: var(--title-font);
    font-size:35px;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom:20px;
}
.box-14{
    width:60%;
    height:70%;
    background-color:none;
    overflow:hidden;
    display:flex;
}
.box-14-left{
    width:35%;
    height:100%;
    background-color:black;
    background:
        linear-gradient(
          rgba(0, 0, 0, 0.2), 
          rgba(0, 0, 0, 0.4)
        ),
        url("https://images.unsplash.com/photo-1527352774566-e4916e36c645?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80");
    
    font-family: var(--title-font);
    color:#fff;
    font-size:25px;
    padding-top:20px;
    font-weight: 300;
    background-size: contain;
    
}
.box-14-left > p {
    width:100px;
    height:60px;
    border:2px solid var(--xanhla-color);
    background-color:var(--xanhla-color);
    margin:auto;
    border-radius: 7px;
    display:flex;
    justify-content: center;
    align-items: center;
   
    
}

#day{
    width:100px;
    height:80px;
    background-color:none;
    margin:auto;
    border-radius: 7px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: var(--title-font);
    color:#fff;
    font-size:25px;
    font-weight: 400;
}
.box-14-right{
    width:65%;
    height:100%;
    background-color:#fff;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.time{
    width:100%;
    height:16%;
    background-color:none;
    font-size:14px;
    color:rgb(134, 133, 133);
    display: flex;
    padding-left:20px;
    display:flex;
    justify-content: flex-start;
    align-items:flex-end;
    padding-bottom: 5px;
}
.time>i{
    width:40px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
   

}
.time>p{
    width:100px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    font-family: var(--title-font);
    font-size:16px;
}
.timetable{
    width:90%;
    height:70%;
    background-color:none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.time1{
    width:14%;
    height:80%;
    background-color:none;
    font-family: var(--title-font);
    color:rgb(58, 50, 50);
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size:17px;
}
#not{
    height:70%;
}
#name-day{
    color:rgb(105, 90, 90);
    font-weight: 700;
}
.box-14-right>hr{
    width:80%;
    height:2px;
    border:none;
    background-color:rgb(173, 170, 170);
   
}
.note{
    width:100%;
    height:12%;
    background-color:none;
    font-family: var(--title-font);
    color:var(--a-color);
    font-size:12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
   

}
.note>div {
    width:12px;
    height: 12px;
    background-color:rgb(102, 102, 99);
    margin-left:60px;
    margin-right:10px;
}