.container{
    width:100%;
    height:800px;
   
}
.navbar{
    width:100%;
    height:80px;
    background-color: rgba(36,37,38,255);
    font-size:25px;
    display:flex;
    box-sizing: margin-box;
    border-bottom: 3px solid #313233;
    
}
.nav-left{
    width:30%;
    height:80px;
    color: #8D949E;
    box-sizing: border-box;
    display:flex;
    align-items: center;
    justify-content: left;
   
}
.nav-left > i{
    margin:20px;
    justify-content: center;
    font: size 24px;px;
    color:#1197f5;
    font-size:24px;
}
.nav-left > i:hover{
    opacity:0.5;
}
.nav-left > .timkiem{
    margin:20px;    
}

.timkiem{
    padding:10px;
    font-size:18px;
    border-radius: 25px;
    background-color:rgba(58,59,60,255);
    color:rgba(149,151,156,255);
}
.nav-center{
    width: 40%;
    height:80px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    color: #8D949E;
    font-size:24px;

}
.nav-center>i:hover {
    opacity:0.5;
}
.nav-icon > i {
    font-size:20px;
    color:#86888c;
}
.nav-right{
    width:30%;
    height:80px;
    color: #8D949E;
    display: flex;
    justify-content: space-between;
    align-items:center;
   
    
}
.icon-ava{
    width:180px;
    height:50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #253851;
   
}
.icon-ava:hover{
    background-color:#8D949E;
}
.icon-ava > img{
    width: 40px;
    height:40px;
    border-radius:50px;
    opacity:0.6;
}

.icon-ava > p{
    margin:10px;
    font-size:18px;
    color: #2d86fa
   
}
.nav-icon{
    width:300px;
    height:80px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    color: #a3a5aa;
    font-size:18px;
}
.content{
    width:100%;
    height : 300px;
    background-color:rgba(36,37,38,255);
    display:flex;
    justify-content: center;
    align-items: flex-start;
}
.content-box{
    width:70%;
    height:300px;
    background-color: #1c1e21;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    margin:0px;
    position:relative;
    border-radius: 7px;

}
.content-box:hover{
    outline:none;
}
.ava{
    width:200px;
    height:200px;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    position:relative;
    bottom:-10px;
    left:80px;
}
.ava img{
    width:120px;
    height:120px;
    border-radius: 50%;
    border: 2px solid gray ;
    
}
.ava img:hover{
    border : 2px solid #fff;
}

.cam{
    width: 35px;
    height:35px;
    background-color : #fff;
    opacity:0.2;
    font-size:20px;
    position:relative;
    left:-30px;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}
.cam > i {
    color: #8D949E;
    opacity:1;
    z-index: 3;
}
.cam:hover{
    background-color:#8D949E; 
}
.cover-img{
    width:150px;
    height:35px;
    border-radius:7px;
    background-color: #8D949E;
    opacity: 0.6;
    position:relative;
    top:-5px;
    left:250px;
    display:flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    color:#fff;
    font-size:18px;
    z-index: 0;
    position:relative;
    top:-20px;
    right:-50px;
}
.cover-img:hover{
    background-color: gray;
}
.cover > i p {
    opacity: 1;
    z-index: 1;
}

.name{
    width:100%;
    height:150px;
    background-color: rgba(36,37,38,255);
    display:flex;
    justify-content: center;
    align-items: flex-start;
}
.ten{
    width:800px;
    height:120px;
    background-color: rgba(36,37,38,255);
    text-align: center;
    border-bottom:3px solid black;
    
}


#p1{
    font-size:28px;
    color:#fff;
    position:relative;
    top:-10px;
}
.story{
    font-size:18px;
    color:#fff;
    position:relative;
    top:-32px;
}
.chinhsua{
    font-size:18px;
    color:#2E89FF;
    position:relative;
    top:-45px;
}
.footer{
    width:100%;
    height:50px;
    background-color:rgba(36,37,38,255);
    display:flex;
    justify-content: center;
    align-items: flex-start;
}
.box{
    width:900px;
    height:40px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
    background-color:rgba(36,37,38,255);
   
}
.box1{
    width:500px;
    height:40px;
    background-color:rgba(36,37,38,255);
    display:flex;
    justify-content: space-around;
    align-items: center;
    color:#fff;
    font-size:17px;
   
  
    
}
.box1 >p:hover{
    color:blue;
    border-bottom: 2px solid blue;
}
.friend{
    display:flex;
   text-align:justify;
   position:relative;
    left:-20px;
    border-radius: 5px;
    
}
.friend:hover{
    background-color: #3a3b3c;
    opacity: 0.8;
}
.friend > p{
    padding:5px;
}
.friend >p:hover{
    color:blue;
    border-bottom: 2px solid blue;
}

.more{
    display:flex;
    text-align:justify;
    align-items: center;
    position:relative;
    left:-20px;
    border-radius: 5px;
}
.more:hover{
    background-color: #3a3b3c;
}
.more > i{
    padding:5px;
}
.more >i:hover{
    color:blue;
    border-bottom: 2px solid blue;
}
.more>p:hover{
    color:blue;
    border-bottom: 2px solid blue;
}

.box2{
    width:400px;
    height:40px;
    background-color:rgba(36,37,38,255);
    display:flex;
    justify-content: flex-start;
    align-items: center;
   
}

.add{
    width:120px;
    height:40px;
    background-color:#1877F2;
    border-radius: 6px;
    margin:10px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    
}
.add > p{
    padding:5px;
}
.add:hover{
    opacity:0.6;
}
.correct{
    width:210px;
    height:40px;
    border-radius: 6px;
    background-color:black;
    color:#fff;
    display:flex;
    justify-content: space-around;
    align-items: center;
    font-size:17px;
    position:relative;
    left:-5px;
}
.correct:hover{
    opacity: 0.6;
}
.correct > i {
    padding:5px;
}
.correct > p{
    padding:5px;
}
.setting{
    width:50px;
    height:40px;
    background-color:black;
    border-radius:6px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    font-size:17px;
}
.setting:hover{
    opacity: 0.6;
}
.mess{
    width:60px;
    height:250px;
    
    position:fixed;
    right:10px;
    bottom:70px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
}

.mess img{
    width:50px;
    height:50px;
    border-radius: 50%;
}
.mess img:hover{
    border: 2px solid #fff;
}
.icon-mess{
    width:50px;
    height:50px;
    background-color: #fff;
    opacity:0.6 ;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.icon-mess:hover{
    border: 2px solid #fff;
}
.mess i{
    font-size:24px;
    color:black;
}
