@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  --hover-color:#6893ff;
  --difference-color:#fafafa;
}

.carousel-item{
  height: none;
  background: #777;
  color:#fff;
}
.carousel-item img{
  height:80vh !important;
  object-fit: cover;
  
}
.nav-item{
  border-bottom: 3px solid !important;
  transition: all 0.3s ease-in-out;
}
.nav-item:hover{
  border-bottom: 3px solid var(--hover-color) !important;
}
/* phaanf hinh anh about */

.photo-wrap {
  position: relative;
  width: 100%;
}
.photo-wrap img {
  width: 100%;
  box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
  vertical-align: middle;
}
.photo-wrap:hover .photo-overlay {
  width: 100%;
}
.photo-overlay {
  background-color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.5s ease;
}
.photo-text {
  display: flex;
  width: 35%;
  justify-content: space-between;
}
.photo-text a {
  color: black;
  font-size: 1.5rem;
}
.photo-text a:hover {
  color: var(--hover-color);
}
/* Phaanf service */
.section-header div h2 {
  font-weight: 700;
  font-size: 2rem;
  color: #333;
}
#services{
  color:#333;
  background: #fafafa !important;
}
.circle i{
  background-color: var(--hover-color);
}
#services .box{
  background-color:#fff !important;
  box-shadow: 0 2px 5px rgb(0 0 0 / 10%) !important;
  transition: all 0.3s ease-in-out;  
}
#services .box:hover {
  box-shadow: 0 5px 15px rgb(0 0 0 / 30%) !important;
}
#services .circle {
  background-color: #6893ff;
  width: 50px;
  height: 50px;
}
.box h3{
  padding-bottom: 0.7rem;
  font-size: 1.3rem;
}
.box p{
  width:80%;
  margin:auto;
  font-size:1rem;
  letter-spacing: 0.5px;
}
/* Phan pofolio */
#portfolio {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
/* Phần button lựa chọn chỗ porfolio */
#filters-group {
  margin-bottom: 1rem;
  margin: auto;
}
#portfolio .filter:hover,
.portfolio .filter:active,
.portfolio .filter:focus {
  background: #0048ff;
  border-color: #0048ff;
}
#portfolio .filter {
  padding: 6px 17px 7px 17px;
  font-size: 0.7rem;
  border-radius: 30px;
  background: #6893ff;
  border: 0;
  color: #fff !important;
  cursor: pointer;
  outline: 0;
  display: inline-block;
  margin: 0 5px 1rem 5px;
  text-transform: uppercase;
  font-weight: normal;
}
/* Phần hình ảnh */
/* Phan work */
.img-fluid {
  max-width: 100%;
  height: auto;
}
/* Phaanf hinfh anrh shadow  */
#portfolio .magnifier {
  border: 6px solid #444;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
#portfolio .magnifier:hover {
  opacity: 0.8;
}
.magnifier i {
  font-size: 3rem;
  color: black;
}
/* Phần blog */
#blog{
  background: #fafafa !important;
}

#blog .inner a{
  background-color: black;
  transition: 0.3s ease-in-out;
}
#blog .inner a:hover{
  background-color: #fff;
  color:black;
}
/* Blog + button */

/* All blog item  */
#blog .item{
  box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
}
#blog .item:hover{
  box-shadow:5px 5px 15px rgb(95, 94, 94);
}
/* Mot item */
/* phan footer */
.footer p:hover{
  color:var(--hover-color) !important; 
}
.pull-right a{
  margin-left:1em;
  color:#fff !important;
  transition: 0.3s ease-in-out;
}
.pull-right a:hover{
  color:var(--hover-color) !important; 
}