.container{
    width:100%;
    height:500px;
    background-color:#170f23;
}
.content{
    width:100%;
    height:100px;
    background-color: pink;
    color:#fff;
    font-size: 20px;
    box-sizing: none;
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.content > p{
    position: relative;
    left:30px;   
}
.song{
    width:100%;
    height:300px;
    background-color: red;
    
    
}
.song1{
    width:25%;
    height:100%;
    background-color: aqua;  
   
   
   
}
.bg {
    width:250px;
    height:250px;
    object-fit: containt;
    transition-duration: 0.7s;
    transition-timing-function: ease-in;
    animation-delay: 0.5s;
    background: chartreuse;
    display: flex;
    justify-content: center;
    align-items: center;

}
.bg > img{
    width:100%;
    height:100%;
    object-fit: contain;
    border-radius: 30px;
    
}
.shadow{
    width:100%;
    height:100%;
    background-color: yellow;
    position: relative;
    top:-102%;
    border-radius: 15px;
    opacity: 1;
    z-index: 1;
    
}
.icon{
    width:70%;
    height:30%;
    color:#fff;
    display:flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    z-index: 2;
}
#play{
    font-size:40px;
}
.song1:hover .shadow{
    opacity: 0.5;
}
.song1:hover .bg{
    transform:scale(1.2);
}
.song1 .text{
    width:200px;
    height: 45px;
    background-color: peachpuff;
    font-family: 'Noto Sans JP', sans-serif;
    color:#fff;
    }
.last{
    width:100%;
    height:200px;
    background-color: thistle;
}
